<div class="col s12 m12 l3 xl3  push-l7 push-xl7 info">
    <div class="row" style="height: 100%;">
        <div>
            <img src="{{ login_team.logo_image.url }}" class="team-avatar">

        </div>
        <div class="team-info">
            <h3>
                {{ user.username }}
            </h3>
            <h5>
                {{ user.email }}
            </h5>
        </div>
        <div class="team-quote">
            <h6>
                {{ login_team_bio }}
            </h6>
        </div>

    </div>

</div>