{% load static %}
<div class="col s12 m12 l1 xl1  push-l11 push-xl11 side">
    <img src="{% static 'img/jaam.png' %}" style="width: 70%; margin-right: 15%; margin-top: 20px;"
         class="hide-on-med-and-down">
    <img src='{% static "img/jaam.png" %}' style="height: 70%; margin-right: 20px; margin-top: 10px ;"
         class="show-on-medium-and-down hide-on-large-only hide-on-extra-large-only ">


    <div class="menu-items hide-on-med-and-down">
        <a href="{% url 'SPC_main:SPC_main_page' %}">
                <span class="menu-icon icon-info tooltipped" data-position="left"
                      data-tooltip="اطلاعات تیم" id="team_detail_item"></span>
        </a>
        <a href="{% url 'online_match:online_match' %}">
                <span class="menu-icon icon-friendly tooltipped" data-position="left"
                      data-tooltip="بازی دوستانه" id="friendly_item"></span>
        </a>
        <a href="{% url 'SPC_main:table-spc' %}">
            <span class="menu-icon icon-cup tooltipped" data-position="left" data-tooltip="جدول جام"
                  id="cup_item"></span>
        </a>
        <a href="{% url 'SPC_main:jaam-tables-view' %}">
                <span class="menu-icon icon-competition tooltipped" data-position="left"
                      data-tooltip="جدول رقابت‌ها" id="table_jaam_item"></span>
        </a>
        <a href="{% url 'online_match:log' %}">
            <span class="menu-icon icon-result tooltipped" data-position="left"
                  data-tooltip="نتایج" id="log_item"></span>
        </a>

    </div>
    <div class="menu-items-mob hide-on-med-and-up show-on-medium">
        <a href="{% url 'online_match:log' %}" class="inline">
            <span class="menu-icon-mob icon-result tooltipped" data-position="bottom"
                  data-tooltip="نتایج" id="log_mobile_item"></span>
        </a>
        <a href="{% url 'SPC_main:jaam-tables-view' %}" class="inline">
                <span class="menu-icon-mob icon-competition tooltipped" data-position="bottom"
                      data-tooltip="جدول رقابت ها" id="table_jaam_mobile_item"></span>
        </a>
        <a href="{% url 'SPC_main:table-spc' %}" class="inline">
            <span class="menu-icon-mob icon-cup tooltipped" data-position="bottom"
                  data-tooltip="جدول جام" id="cup_mobile_item"></span>
        </a>
        <a href="{% url 'online_match:online_match' %}" class="inline">
                <span class="menu-icon-mob icon-friendly tooltipped" data-position="bottom"
                      data-tooltip="بازی دوستانه" id="friendly_mobile_item"></span>
        </a>

        <a href="{% url 'SPC_main:SPC_main_page' %}" class="inline">
                <span class="menu-icon-mob icon-info tooltipped" data-position="bottom"
                      data-tooltip="اطلاعات تیم" id="team_detail_mobile_item"></span>
        </a>
    </div>
</div>