
# Created by https://www.gitignore.io/api/pycharm

### PyCharm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Ruby plugin and RubyMine
/.rakeTasks

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### PyCharm Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

# Sonarlint plugin
.idea/sonarlint


# End of https://www.gitignore.io/api/pycharm
.idea/ArmanRayan_Jam.iml
.idea/inspectionProfiles/
.idea/markdown-navigator.xml
.idea/markdown-navigator/
.idea/misc.xml
.idea/modules.xml
Jam/__pycache__/__init__.cpython-35.pyc
Jam/__pycache__/configDB.cpython-35.pyc
Jam/__pycache__/settings.cpython-35.pyc
Jam/__pycache__/urls.cpython-35.pyc
Jam/__pycache__/wsgi.cpython-35.pyc
Jam/configDB.py
SPC_main/__pycache__/__init__.cpython-35.pyc
SPC_main/__pycache__/admin.cpython-35.pyc
SPC_main/__pycache__/apps.cpython-35.pyc
SPC_main/__pycache__/models.cpython-35.pyc
SPC_main/__pycache__/urls.cpython-35.pyc
SPC_main/__pycache__/views.cpython-35.pyc
SPC_main/migrations/
Screenshot_from_2017-11-20_03-12-35.png
main/__pycache__/__init__.cpython-35.pyc
main/__pycache__/admin.cpython-35.pyc
main/__pycache__/apps.cpython-35.pyc
main/__pycache__/models.cpython-35.pyc
main/__pycache__/urls.cpython-35.pyc
main/__pycache__/views.cpython-35.pyc
main/migrations/0002_language2.py
main/migrations/0003_auto_20180103_1740.py
main/migrations/0004_delete_language3.py
main/migrations/0005_auto_20180118_1636.py
main/migrations/0006_mentor.py
main/migrations/0007_myauthuser.py
main/migrations/0008_auto_20180217_1749.py
main/migrations/0009_auto_20180227_2318.py
main/migrations/0010_merge_20180315_1124.py
main/migrations/__pycache__/0001_initial.cpython-35.pyc
main/migrations/__pycache__/0002_auto_20180302_0342.cpython-35.pyc
main/migrations/__pycache__/0002_language2.cpython-35.pyc
main/migrations/__pycache__/0003_auto_20180103_1740.cpython-35.pyc
main/migrations/__pycache__/0003_auto_20180303_1839.cpython-35.pyc
main/migrations/__pycache__/0004_delete_language3.cpython-35.pyc
main/migrations/__pycache__/0005_auto_20180118_1636.cpython-35.pyc
main/migrations/__pycache__/0006_mentor.cpython-35.pyc
main/migrations/__pycache__/0007_myauthuser.cpython-35.pyc
main/migrations/__pycache__/0008_auto_20180217_1749.cpython-35.pyc
main/migrations/__pycache__/0009_auto_20180227_2318.cpython-35.pyc
main/migrations/__pycache__/0010_merge_20180315_1124.cpython-35.pyc
media/1-480.mp4
media/10.11452647868.2654948.pdf
media/2640.jpg
media/2ndSession.pdf
media/2ndSession_15yagKE.pdf
media/2ndSession_VEKfdom.pdf
media/4_5970836102943080473.mp4
media/AP-HW1.pdf
media/Ahmadinejad_wordcloud.png
media/Codes/
media/IAC/15/
media/Logs/
media/PC_2_copy.jpg
media/PC_2_copy_6KviTmu.jpg
media/Roozbeh-Bemani-Koja-Bayad-Beram-320.mp3
media/SPC/13/
media/SPC/16/
media/SPC/17/
media/SPC/18/
media/Screenshot_from_2017-11-20_03-12-35.png
media/picture/
media/testi/
online_match/__pycache__/
online_match/migrations/
online_match/templates/online_match/log.html
online_match/templates/online_match/login_se.html
online_match/templates/online_match/upload_ajax.html
register/__pycache__/__init__.cpython-35.pyc
register/__pycache__/admin.cpython-35.pyc
register/__pycache__/apps.cpython-35.pyc
register/__pycache__/forms.cpython-35.pyc
register/__pycache__/models.cpython-35.pyc
register/__pycache__/urls.cpython-35.pyc
register/__pycache__/views.cpython-35.pyc
register/migrations/0002_auto_20180111_1351.py
register/migrations/0003_remove_user_grade.py
register/migrations/0004_auto_20180118_1623.py
register/migrations/0005_auto_20180118_1636.py
register/migrations/0006_team_mentor.py
register/migrations/0007_remove_team_mentor.py
register/migrations/0008_team_mentor.py
register/migrations/0009_myauthuser.py
register/migrations/0010_auto_20180217_1733.py
register/migrations/0011_auto_20180217_1738.py
register/migrations/0012_auto_20180217_1815.py
register/migrations/0013_auto_20180217_2021.py
register/migrations/0014_auto_20180219_1855.py
register/migrations/0015_auto_20180219_1904.py
register/migrations/0016_test.py
register/migrations/0017_auto_20180228_1722.py
register/migrations/0018_auto_20180228_1730.py
register/migrations/0019_auto_20180228_1738.py
register/migrations/0020_auto_20180228_1741.py
register/migrations/0021_auto_20180228_1742.py
register/migrations/0022_auto_20180228_1745.py
register/migrations/0023_auto_20180228_1806.py
register/migrations/0024_auto_20180228_1807.py
register/migrations/0025_auto_20180228_1907.py
register/migrations/0026_auto_20180228_2000.py
register/migrations/0027_auto_20180228_2001.py
register/migrations/0028_auto_20180228_2009.py
register/migrations/0029_auto_20180228_2045.py
register/migrations/0030_auto_20180228_2047.py
register/migrations/0031_auto_20180228_2230.py
register/migrations/0032_auto_20180301_1518.py
register/migrations/0033_auto_20180301_1727.py
register/migrations/__pycache__/0001_initial.cpython-35.pyc
register/migrations/__pycache__/0002_auto_20180111_1351.cpython-35.pyc
register/migrations/__pycache__/0003_remove_user_grade.cpython-35.pyc
register/migrations/__pycache__/0004_auto_20180118_1623.cpython-35.pyc
register/migrations/__pycache__/0005_auto_20180118_1636.cpython-35.pyc
register/migrations/__pycache__/0006_team_mentor.cpython-35.pyc
register/migrations/__pycache__/0007_remove_team_mentor.cpython-35.pyc
register/migrations/__pycache__/0008_team_mentor.cpython-35.pyc
register/migrations/__pycache__/0009_myauthuser.cpython-35.pyc
register/migrations/__pycache__/0010_auto_20180217_1733.cpython-35.pyc
register/migrations/__pycache__/0011_auto_20180217_1738.cpython-35.pyc
register/migrations/__pycache__/0012_auto_20180217_1815.cpython-35.pyc
register/migrations/__pycache__/0013_auto_20180217_2021.cpython-35.pyc
register/migrations/__pycache__/0014_auto_20180219_1855.cpython-35.pyc
register/migrations/__pycache__/0015_auto_20180219_1904.cpython-35.pyc
register/migrations/__pycache__/0016_test.cpython-35.pyc
register/migrations/__pycache__/0017_auto_20180228_1722.cpython-35.pyc
register/migrations/__pycache__/0018_auto_20180228_1730.cpython-35.pyc
register/migrations/__pycache__/0019_auto_20180228_1738.cpython-35.pyc
register/migrations/__pycache__/0020_auto_20180228_1741.cpython-35.pyc
register/migrations/__pycache__/0021_auto_20180228_1742.cpython-35.pyc
register/migrations/__pycache__/0022_auto_20180228_1745.cpython-35.pyc
register/migrations/__pycache__/0023_auto_20180228_1806.cpython-35.pyc
register/migrations/__pycache__/0024_auto_20180228_1807.cpython-35.pyc
register/migrations/__pycache__/0025_auto_20180228_1907.cpython-35.pyc
register/migrations/__pycache__/0026_auto_20180228_2000.cpython-35.pyc
register/migrations/__pycache__/0
027_auto_20180228_2001.cpython-35.pyc
register/migrations/__pycache__/0028_auto_20180228_2009.cpython-35.pyc
register/migrations/__pycache__/0029_auto_20180228_2045.cpython-35.pyc
register/migrations/__pycache__/0030_auto_20180228_2047.cpython-35.pyc
register/migrations/__pycache__/0031_auto_20180228_2230.cpython-35.pyc
register/migrations/__pycache__/0032_auto_20180301_1518.cpython-35.pyc
register/migrations/__pycache__/0033_auto_20180301_1727.cpython-35.pyc
setting/__pycache__/__init__.cpython-35.pyc
setting/__pycache__/admin.cpython-35.pyc
setting/__pycache__/apps.cpython-35.pyc
setting/__pycache__/forms.cpython-35.pyc
setting/__pycache__/models.cpython-35.pyc
setting/__pycache__/urls.cpython-35.pyc
setting/__pycache__/views.cpython-35.pyc
statics/img/gallery/
statics/js/jQuery-File-Upload-9.14.1/
statics/js/recaptchaVal.js
team_setting/
test_bash/
register/migrations/__pycache__/0027_auto_20180228_2001.cpython-35.pyc
