body {
	background: #16222A;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #3A6073, #16222A);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #3A6073, #16222A);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
@font-face {
	font-family: iconFont;
	src: url(fonts/icons.woff);
}

@font-face {
	font-family: vazir;
	src: url(fonts/Vazir.ttf);
}

@font-face {
	font-family: icon-self;
	src: url(fonts/icomoon.ttf);
}


html * {
	font-family: vazir;
}

.material-icons {
	font-family: iconFont;
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.side-pad {
	padding-right: 20px;
	padding-left: 20px;
}
.table-container{
	position: relative;
	padding: 50px;
}
.lighten-5{
	background-color: #fffcfb !important;
}
.btn-flat{
	text-align: center;
}

.collapsible{
	position: relative;
	top: 60px;
}
@media only screen and (max-width: 992px){
	.table-container{
		padding: 10px;
		top: 50px;
	}
}