<!DOCTYPE html>
<html lang="en" style="overflow-y: hidden">
<head>
    <meta charset="UTF-8">
    <title>{{ user.username }} | پنل مدیریت تیم</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection"/>

    <link type="text/css" rel="stylesheet" href="css/global_css.css">
    <link type="text/css" rel="stylesheet" href="css/base.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/index_style.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="row  cnt  top-margin-main full-height " style="direction: rtl">
    <!-- right menu-->
    <div class="hide-on-med-and-down col l1 xl1  push-l11 push-xl11 content  center-align full-height">
        <div class="menu-items hide-on-med-and-down">
            <!--  <br style="font-size: 1vw"> -->
            <br>
            <img src='../img/jaam.png'
                 class=" hide-on-med-and-down responsive-img">
            <a class="row center-block no-margins" href="{% url 'SPC_main:SPC_main_page' %}">
                <i class="material-icons menu-icon-materialize tooltipped" data-position="left"
                   data-tooltip="اطلاعات تیم" id="team_detail_item">info_outline</i>
            </a>
            <a class="row center-block no-margins" href="{% url 'setting:setting' 0 %}">
                <i class="material-icons menu-icon-materialize tooltipped" data-position="left"
                   data-tooltip="ویرایش اطلاعات" id="team_setting_item">settings</i>
            </a>
            <a class="row center-block no-margins" href="{% url 'online_match:online_match' %}">
                <i class="material-icons menu-icon-materialize tooltipped" data-position="left"
                   data-tooltip="بازی دوستانه" id="friendly_item">videogame_asset</i>
            </a>
            <a class="row center-block no-margins" href="{% url 'SPC_main:jaam-tables-view' %}">
                <i class="material-icons menu-icon-materialize tooltipped" data-position="left"
                   data-tooltip="جدول رقابت‌ها" id="table_jaam_item">show_chart</i>
            </a>
            <a class="row center-block no-margins" href="{% url 'online_match:log' %}">
                <i class="material-icons menu-icon-materialize tooltipped" data-position="left"
                   data-tooltip="نتایج" id="log_item">assignment</i>
            </a>

            <a class="row center-block no-margins" href="{% url 'SPC_main:logout' %}">
                <i class="material-icons menu-icon-materialize tooltipped" data-position="left"
                   data-tooltip="خروج" id="logout_item">exit_to_app</i>
            </a>

        </div>
    </div>
    <div class="show-on-medium-and-down hide-on-large-only hide-on-extra-large-only ">


        <nav class="" role="navigation" style=" background-color: rgb(214, 209, 219) ;color: black; font-size:20px;">
            <a href="#" data-target="slide-out" class="sidenav-trigger right"><i class="material-icons">menu</i> </a>
            <ul id="slide-out" class="sidenav right-align ">
                <img src="../img/avatar-team.png" class="team-avatar responsive-img  top-margin-main center-block"
                     style="width: 50%">
                <a class="row " href="{% url 'SPC_main:SPC_main_page' %}">
                    <i class="material-icons menu-icon-materialize">
                        <span class="menu-icon-mob-size">
                            اطلاعات تیم
                        </span>
                        info_outline
                    </i>
                </a>
                <a class="row " href="{% url 'setting:setting' 0 %}">
                    <i class="material-icons menu-icon-materialize">
                        <span class="menu-icon-mob-size">
                            ویرایش
                        </span>
                        settings
                    </i>
                </a>
                <a class="row " href="{% url 'online_match:online_match' %}">
                    <i class="material-icons menu-icon-materialize">
                        <span class="menu-icon-mob-size">
                            بازی دوستانه
                        </span>
                        videogame_asset </i>
                </a>
                <a class="row " href="{% url 'SPC_main:jaam-tables-view' %}">
                    <i class="material-icons menu-icon-materialize">
                        <span class="menu-icon-mob-size">
                            جدول رقابت
                        </span>
                        show_chart </i>
                </a>
                <a class="row " href="{% url 'online_match:log' %}">
                    <i class="material-icons menu-icon-materialize">
                        <span class="menu-icon-mob-size">
                            نتایج
                        </span>
                        assignment
                    </i>
                </a>
                <a class="row " href="{% url 'SPC_main:logout'">
                    <i class="material-icons menu-icon-materialize">
                        <span class="menu-icon-mob-size">
                            خروج
                        </span>
                        exit_to_app
                    </i>
                </a>
            </ul>
        </nav>

    </div>
    <!-- -->

    <!-- info menu -->
    <div class="hide-on-med-and-down col l3 xl3 content2 push-l7 push-xl7 info full-height">

        <div class="hide-on-med-and-down top-margin-main">

            <div class="row">
                <div>
                    <img src="../img/avatar-team.png" class="team-avatar responsive-img center-block"
                         style="width: 75%">
                </div>
                <div class="team-info center-align">
                    <h3 style="direction: ltr; font-size: 3vw" id="username">
                        Armankadeh SPC
                    </h3>
                </div>
                <span>
            <div class=" center-align">
                <h6>
                   dididididdiiddiidididididididididid<br>
                   didididiidididididididid<br>

                </h6>
            </div>

            </span>

            </div>
        </div>

        <div class="hide-on-med-and-up show-on-medium">
            <div class=" row col s5 m5">
                <img src="../img/avatar-team.png" class="team-avatar responsive-img">
            </div>
            <div class="row col s7 m7 center-align">
                <div>
                    <div class="team-info">
                        <h4 id="username-mobile">
                            Armankadeh
                        </h4>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- -->


    <!-- content-->
    <div class="col content s12 m12 l8 xl8 pull-l4 pull-xl4 full-height ">
        <div class="hide-on-med-and-down">
            <div class="row">
                <div class="col l4 xl4">
                    <div class="card white small">
                        <div class="card-content blue-grey-text">
                            <span class="card-title center"><h1 class="no-margins team-class">B</h1></span>
                            <div class="puan">
                                <h5 class="grey-text text-darken-1 no-margins puan-card-element">امتیاز تیم</h5>
                                <h6 class="grey-text puan-card-element">1200</h6>
                            </div>
                            <div class="progress no-margins small progress-bar-style" >
                                <div class="determinate" style="width: 70%;background-color: #3a6073;"></div>
                            </div>

                        </div>
                        <div class="card-action center">
                            <button type="button" class="btn waves-effect">
                                بارگذاری کد
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col l4 xl4">
                    <div class="card small ">
                        <div class="card-image waves-effect waves-block waves-light pattern-back-new">
                        </div>
                        <div class="card-content">
                            <div class="btn-floating halfway-fab waves-effect waves-light yellow darken-2 card-icon-position ">
                                <i class="material-icons">star</i>
                            </div>
                            <span class="card-title activator grey-text text-darken-4" style="direction: rtl">
                            وحید صوابیه
                        <i class="material-icons right">more_vert</i>
                        </span>
                            <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i
                                class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked
                                on.</p>
                        </div>
                    </div>
                </div>
                <div class="col l4 xl4">
                    <div class="card small">
                        <div class="card-image waves-effect waves-block waves-light pattern-back-new">
                            <!--                        <img class="activator" src="../img/bright-squares.png">-->
                        </div>
                        <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title<i
                                class="material-icons right">more_vert</i></span>
                            <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i
                                class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked
                                on.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col l4 xl4">
                    <div class="card white small">
                        <div class="card-content blue-grey-text text-darken-1">
                            <span class="card-title" style="font-size: 160%">
                                <i class="material-icons">info</i>
                                راهنمایی و توضیحات
                            </span>
                            <p class="help-card-footer">دانلود راهنمای مسابقات و فایل‌های مورد نیاز </p>
                        </div>
                        <div class="card-action center">
                            <a class="waves-effect waves-light btn modal-trigger" href="#help-modal">دانلود</a>
                        </div>

                    </div>
                </div>
                <div class="col l4 xl4">
                    <div class="card small">
                        <div class="card-image pattern-back-new">

                        </div>
                        <div class="card-content">
                            <span class="card-title ">عضو جدید</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red card-icon-position">
                                <i class="material-icons">add</i>
                            </a>
                            <p>
                                افزودن عضو جدید به تیم
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hide-on-large-only hide-on-extra-large-only hide-on-small-only">
            <div class="row">
                <div class="col m6">
                    <div class="card white small">
                        <div class="card-content blue-grey-text">
                            <span class="card-title center"><h1 class="no-margins team-class">B</h1></span>
                            <div class="puan">
                                <h5 class="grey-text text-darken-1 no-margins puan-card-element">امتیاز تیم</h5>
                                <h6 class="grey-text puan-card-element">1200</h6>
                            </div>
                            <div class="progress no-margins small progress-bar-style">
                                <div class="determinate" style="width: 70%;background-color: #3a6073;"></div>
                            </div>

                        </div>
                        <div class="card-action center">
                            <button type="button" class="btn waves-effect">
                                بارگذاری کد
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col m6">
                    <div class="card white small">
                        <div class="card-content blue-grey-text text-darken-1">
                            <span class="card-title" style="font-size: 160%">
                                <i class="material-icons">info</i>
                                راهنمایی و توضیحات
                            </span>
                            <p class="help-card-footer">دانلود راهنمای مسابقات و فایل‌های مورد نیاز </p>
                        </div>
                        <div class="card-action center">
                            <a class="waves-effect waves-light btn modal-trigger" href="#help-modal">دانلود</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col m6">
                    <div class="card small ">
                        <div class="card-image waves-effect waves-block waves-light pattern-back-new">
                        </div>
                        <div class="card-content">
                            <div class="btn-floating halfway-fab waves-effect waves-light yellow darken-2 card-icon-position ">
                                <i class="material-icons">star</i>
                            </div>
                            <span class="card-title activator grey-text text-darken-4" style="direction: rtl">
                            وحید صوابیه
                        <i class="material-icons right">more_vert</i>
                        </span>
                            <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i
                                class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked
                                on.</p>
                        </div>
                    </div>
                </div>
                <div class="col m6">
                    <div class="card small">
                        <div class="card-image waves-effect waves-block waves-light pattern-back-new">
                            <!--                        <img class="activator" src="../img/bright-squares.png">-->
                        </div>
                        <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title<i
                                class="material-icons right">more_vert</i></span>
                            <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i
                                class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked
                                on.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col m6 offset-m3">
                    <div class="card small">
                        <div class="card-image pattern-back-new">

                        </div>
                        <div class="card-content">
                            <span class="card-title ">عضو جدید</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red card-icon-position">
                                <i class="material-icons">add</i>
                            </a>
                            <p>
                                افزودن عضو جدید به تیم
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hide-on-med-and-up  ">
            <div class="col s12">
                <div class="card white small">
                    <div class="card-content blue-grey-text">
                        <span class="card-title center"><h1 class="no-margins team-class">B</h1></span>
                        <div class="puan">
                            <h5 class="grey-text text-darken-1 no-margins puan-card-element">امتیاز تیم</h5>
                            <h6 class="grey-text puan-card-element">1200</h6>
                        </div>
                        <div class="progress no-margins small progress-bar-style">
                            <div class="determinate" style="width: 70%;background-color: #3a6073;"></div>
                        </div>

                    </div>
                    <div class="card-action center">
                        <button type="button" class="btn waves-effect">
                            بارگذاری کد
                        </button>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="card white small">
                    <div class="card-content blue-grey-text text-darken-1">
                            <span class="card-title" style="font-size: 200%">
                                <i class="material-icons">info</i>
                                راهنمایی و توضیحات
                            </span>
                        <p class="help-card-footer" style="font-size: 150%;">دانلود راهنمای مسابقات و فایل‌های مورد نیاز </p>
                    </div>
                    <div class="card-action center">
                        <a class="waves-effect waves-light btn modal-trigger" href="#help-modal">دانلود</a>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="card small ">
                    <div class="card-image waves-effect waves-block waves-light pattern-back-new">
                    </div>
                    <div class="card-content">
                        <div class="btn-floating halfway-fab waves-effect waves-light yellow darken-2 card-icon-position ">
                            <i class="material-icons">star</i>
                        </div>
                        <span class="card-title activator grey-text text-darken-4" style="direction: rtl">
                            وحید صوابیه
                        <i class="material-icons right">more_vert</i>
                        </span>
                        <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i
                                class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked
                            on.</p>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light pattern-back-new">
                        <!--                        <img class="activator" src="../img/bright-squares.png">-->
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title<i
                                class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i
                                class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked
                            on.</p>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="card small">
                    <div class="card-image pattern-back-new">

                    </div>
                    <div class="card-content">
                        <span class="card-title ">عضو جدید</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red card-icon-position">
                            <i class="material-icons">add</i>
                        </a>
                        <p>
                            افزودن عضو جدید به تیم
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -->
    <div id="help-modal" class="modal">
        <div class="modal-content">
            <h4>فایل‌های راهنما و توضیحات</h4>
            <ul style="font-size: 120%">
                <li class="li-help-modal row">
                    <div class="col s3">
                        <a href="{% static 'download/spc2.pdf' %}" download>
                            <div class="btn waves-effect " style="font-size: 70%">
                                دانلود فایل
                            </div>
                        </a>
                    </div>
                    <div class="col s9">
                        دانلود کلاینت
                    </div>
                </li>
                <li class="divider"></li>
                <li class="li-help-modal row">
                    <div class="col s3">
                        <a href="{% static 'download/spc2.pdf' %}" download>
                            <div class="btn waves-effect " style="font-size: 70%">
                                دانلود فایل
                            </div>
                        </a>
                    </div>
                    <div class="col s9">
                        دانلود کلاینت
                    </div>
                </li>
                <li class="divider"></li>
            </ul>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">بستن</a>
        </div>
    </div>


</div>
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="js/materialize.js"></script>
<script src="../js/jquery-3.1.1.min.js"></script>
<script>
    M.AutoInit();
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.dropdown-trigger');
        var instances = M.Dropdown.init(elems, {alignment: "right"});
    });
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.sidenav');
        let options = {
            edge: "right",
            draggable:true
        };
        var instances = M.Sidenav.init(elems, options);
    });
</script>

</body>
</html>