<html lang="fa">

<head>
    {% load static %}
    {% load widget_tweaks %}
    <title>
        ورود | جام آرمانکده
    </title>
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-global.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-login.css' %}">
    <link type="image/png" rel="icon" href="{% static 'img/jaam.png' %}">
    <meta name="viewport"
          content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,target-densitydpi=device-dpi, user-scalable=no"/>
    <script src="{% static 'js/jaam/reCAPTCHA_invisible.js' %}"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>
<div class="row container">
    <div id='recaptcha' class="g-recaptcha hide-on-med-and-down"
         data-sitekey="6Le-6pIUAAAAACMO2rfqwGZh5YsKAIN24x16KDIb"
         data-callback="onSubmit"
         data-size="invisible"></div>
    <div class="row" style="margin-bottom: unset">
        <div class="col s8 offset-s2 center">
            <img class="responsive-img bismillah_image" src="{% static 'img/Bismillah_Calligraphy_69.svg' %}">
        </div>
    </div>
    <div class="card col s12 m12 l8 xl8 offset-l2 offset-xl2" style="margin-top:0vh;margin-bottom: 10vh">

        <div class="section center-align typo-p">
            <img src="{% static 'img/jaam.png' %}" style="height: 150px;">
            <div style="margin-top: 10px;">
                ورود به حساب کاربری
            </div>
        </div>

        <div class="section side-pad">
            <form action="{% url 'register:login' %}" role="form" method="post" id="login-form">
                {% csrf_token %}
                {{ auth_form.non_field_errors }}

                <div class="row">
                    <div class="input-field col s12 m12 l6 xl6">
                        {% render_field auth_form.username name='user-name' class=validate.username id="user-name" %}
                        <label for="user-name">{{ auth_form.username.label }}</label>
                        <span class="helper-text"
                              data-error="{{ auth_form.username.errors.as_text }}"></span>
                    </div>
                    <div class="input-field col s12 m12 l6 xl6">
                        {% render_field auth_form.password name='password' class=validate.password id="password" %}
                        <label for="password">{{ auth_form.password.label }}</label>
                        <span class="helper-text" data-error="{{ auth_form.password.errors.as_text }}"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12 l4 xl4 center" style="margin:5px 0px;">
                        <a href="{% url 'reset_password' %}" class="btn-flat waves-effect">فراموشی کلمه عبور</a>
                    </div>
                    <div class="col s12 m12 l4 xl4 center" style="margin:5px 0px;">
                        <a href="{% url 'register:register' %}" class="btn-flat waves-effect">ایجاد حساب کاربری</a>

                    </div>
                    <div class="col s12 m12 l4 xl4 center" style="margin:5px 0px;">
                        {#                        <button type="submit" class="btn waves-effect waves-light">ورود#}
                        {#                            <i class="material-icons right">chevron_right</i>#}
                        {#                        </button>#}

                        <button id="login-submit-button" class="btn waves-effect waves-light">ورود
                            <i class="material-icons right">chevron_right</i>
                        </button>
                    </div>
                </div>
            </form>

            <script>recaptcha_onload("login-submit-button", "login-form");</script>

        </div>


    </div>
</div>

<script src="{% static 'New_UI_V2/js/materialize.js' %}"></script>
<script src="{% static 'js/bin/anime.min.js' %}"></script>
<script>
    M.AutoInit();

</script>

</body>

</html>
