<html lang="fa">

<head>
    <title>
        {{ user.username }} | ویرایش اطلاعات
    </title>
    {% load static from staticfiles %}
    {% load widget_tweaks %}
    <link rel="stylesheet" href='{% static "css/materialize.css" %}'>
    <link rel="stylesheet" href='{% static "css/style-global.css" %}'>
    <link rel="stylesheet" href='{% static "css/style-index.css" %}'>
    <link type="image/png" rel="icon" href="{% static 'img/jaam.png' %}">

    <meta name="viewport"
          content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,target-densitydpi=device-dpi, user-scalable=no"/>
    <meta charset="utf-8">
    <script src='{% static "js/jquery-3.1.1.min.js" %}'></script>
    <script src='{% static "js/jaam/validate_class.js" %}'></script>

</head>

<body>


<div class="row cnt" style="direction: rtl">
    {% if login_team.competition.competition_level < 3 %}
        {% include 'base2_0/menu_item.html' %}
    {% else %}
        {% include 'base2_0/menu_item_IAC.html' %}
    {% endif %}



    {% include 'base2_0/menu_team_discription.html' %}


    <div class="col s12 m12 l8 xl8  pull-l4 pull-xl4 content">
        {% include "base2_0/navbar.html" %}
        <form action="{% url 'setting:setting' 0 %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.non_field_errors }}
            {{ auth_form.non_field_errors }}
            {{ team_form.non_field_errors }}
            <ul class="collapsible white" id="setting_collapsible" style="direction: ltr">
                <li>
                    <div class="collapsible-header lighten-5" style="direction: rtl"><i class="material-icons">supervisor_account
                    </i>اطلاعات تیم
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="input-field col s12 m12 l6 xl6">
                                {#                                <h3>{{ auth_form.username.errors }}</h3>#}
                                {#                                <input type="text" name="team-name" id="team-name">#}
                                {% render_field auth_form.username %}
                                <label for="id_username">{{ auth_form.username.label }}</label>
                                <span class="helper-text" data-error="{{ auth_form.username.errors.as_text }}"></span>
                            </div>
                            <div class="input-field col s12 m12 l6 xl6">
                                {#                                <input type="email" name="team-email" id="team-email">#}
                                {% render_field auth_form.email %}
                                <label for="id_email">{{ auth_form.email.label }}</label>
                                <span class="helper-text" data-error="{{ auth_form.email.errors.as_text }}"></span>
                            </div>
                            <div class="input-field col s12 m12 l6 xl6">
                                {#                                <input type="text" name="team-phone" id="team-phone">#}
                                {% render_field team_form.phone_number %}
                                <label for="id_phone_number">{{ team_form.phone_number.label }}</label>
                                <span class="helper-text"
                                      data-error="{{ team_form.phone_number.errors.as_text }}"></span>
                            </div>
                            <div class="input-field col s12 m12 l6 xl6">
                                {#                                <input type="text" name="team-linker" id="team-linker">#}
                                {% render_field team_form.mentor %}
                                <label for="id_mentor">{{ team_form.mentor.label }}</label>
                                <span class="helper-text" data-error="{{ team_form.mentor.errors.as_text }}"></span>
                            </div>
                            <div class="input-field col s12 m12 l12 xl12" style="direction: ltr;">
                                {% render_field team_form.university name="team_university" %}
                                <label for="team_university">{{ team_form.university.label }}</label>
                                <span class="helper-text" data-error="{{ team_form.university.errors.as_text }}"></span>
                            </div>
                            <div class="input-field col s12">
                                {#                                <textarea id="team-bio" class="materialize-textarea"></textarea>#}
                                {% render_field team_form.team_bio name='team-bio' class+="materialize-textarea" %}
                                <label for="id_team_bio">{{ team_form.team_bio.label }}</label>
                                <span class="helper-text" data-error="{{ team_form.team_bio.errors.as_text }}"></span>
                            </div>
                            <label class="btn waves-effect waves-light col s12 m12 l6 xl6 offset-l3 offset-xl3">
                                <i class="material-icons right">photo</i>
                                تغییر آواتار
                                {% render_field team_form.logo_image style="display:none" %}
                            </label>
                        </div>
                    </div>
                </li>
                {{ user_form.management_form }}
                {% for form in user_form %}
                    {{ form.id }}
                    <li>
                        {% if forloop.counter == 1 %}
                            <div class="collapsible-header lighten-5" style="direction: rtl"><i
                                    class="material-icons">assignment_ind</i>مشخصات
                                ادمین
                            </div>
                        {% else %}
                            <div class="collapsible-header lighten-5" style="direction: rtl"><i
                                    class="material-icons">account_circle</i>
                                {% if forloop.counter == 2 %}
                                    مشخصات عضو دوم
                                {% elif forloop.counter == 3 %}
                                    مشخصات عضو سوم
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="input-field col s12 m12 l6 xl6">
                                    {#                                        <input type="text" name="admin-name" id="admin-name">#}
                                    {#                                    {{ form.user_fname }}#}
                                    {% render_field form.user_fname %}
                                    <label>{{ form.user_fname.label }}</label>
                                </div>
                                <div class="input-field col s12 m12 l6 xl6">
                                    {#                                    <input type="text" name="admin-lname" id="admin-lname">#}
                                    {{ form.user_lname }}
                                    <label>{{ form.user_lname.label }}</label>
                                </div>
                                <div class="input-field col s12 m12 l6 xl6">
                                    {#                                    <input type="email" name="admin-email" id="admin-email">#}
                                    {{ form.email }}
                                    <label>{{ form.email.label }}</label>
                                </div>
                                <div class="input-field col s12 m12 l6 xl6">
                                    {#                                    <input type="text" name="admin-degree" id="admin-degree">#}
                                    {{ form.grade }}
                                    <label>{{ form.grade.label }}</label>
                                </div>
                                <div class="input-field col s12 m12 l6 xl6">
                                    {#                                    <input type="text" name="admin-uni-enter" id="admin-uni-enter">#}
                                    {{ form.entrance_year }}
                                    <label>{{ form.entrance_year.label }}</label>
                                </div>
                                {#                                <div class="input-field col s12 m12 l6 xl6">#}
                                {#                                    <input type="text" name="admin-uni-graduate" id="admin-uni-graduate">#}
                                {#                                    {{ form.graduate_year }}#}
                                {#                                    <label>{{ form.graduate_year.label }}</label>#}
                                {#                                </div>#}
                                <div class="input-field col s12 m12 l6 xl6" style="direction: ltr;">
                                    {{ form.university }}
                                    <label>{{ form.university.label }}</label>

                                </div>
                                <div class="input-field col s12">
                                    {#                                    <textarea id="admin-skills" class="materialize-textarea"></textarea>#}
                                    {#                                    {{ form.skills|attr:"class:materialize-textarea" }}#}
                                    {% render_field form.skills class+="materialize-textarea" %}
                                    <label>{{ form.skills.label }}</label>
                                </div>
                                {#                                <a class="btn-flat waves-effect col s12 m12 l4 xl4 offset-l2 offset-xl2">#}
                                {#                                    <i class="material-icons right">photo</i>#}
                                {#                                    تغییر آواتار#}
                                {#                                    <input type="file"#}
                                {#                                           style="opacity: 0;position: absolute; left: 0; height: 50px; top: 0px; width: 100%; cursor: pointer"#}
                                {#                                           id="selectFile2">#}
                                {#                                </a>#}
                                {#                                <a class="btn waves-effect waves-light col s12 m12 l4 xl4 offset-l1 offset-xl1">#}
                                {#                                    <i class="material-icons right">save</i>#}
                                {#                                    ذخیره</a>#}
                            </div>
                        </div>
                    </li>
                {% endfor %}

            </ul>
            <br><br><br>
            <button type="submit" class="col s12 m8 offset-m2 btn " >
                ذخیره تغییرات
            </button>

            <!-- Modal Trigger -->
            {#  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>#}

            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h4>توجه</h4>
                    {% if login_team.competition.competitiom_level < 3 %}
                        <p>تعداد اعضای شرکت کننده در مسابقات اشاره گرهای هوشمند حداقل ۲ و حداکثر ۳ نفر است</p>
                    {% else %}
                        <p>تعداد اعضای شرکت کننده در مسابقات اشاره گرهای هوشمند حداقل ۱ و حداکثر ۲ نفر است</p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat left ">متوجه شدم</a>
                </div>
            </div>
        </form>
    </div>
    <script>
        let active_field = $("#setting_collapsible").children("li")[{{ active_member }}];
        active_field.classList.add("active");
        console.log(active_field[0]);
    </script>

</div>


<script src='{% static "js/bin/materialize.js" %}'></script>
<script src='{% static "js/jaam/item_active.js" %}'></script>
<script>
    M.AutoInit();
    let elem = document.getElementById("modal1");
    let options = {dismissible: true, inDuration: 600};
    let instance = M.Modal.init(elem, options);
    {% if test %}
        instance.open();
    {% endif %}

</script>
</body>
<script>add_validate_option("university", 0);</script>
<script>add_validate_option("form-0-university", 0);</script>
<script>add_validate_option("form-0-grade", 0);</script>
</html>