
.cnt {
	height: 95%;
	width: 90%;

}

.menu-items {
	position: absolute;
	height: auto;
	width: 100%;
	top: 60%;
	transform: translate(0, -50%);
	right: 0;
}

.menu-items-mob {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 50%;
	transform: translate(50%, 0);
	padding-right: 12.5%;
}

.menu-icon {
	font-family: icon-self;
	position: relative;
	right: 50%;
	color: #959595;
	transform: translate(50%, -50%);
	font-size: 3em;
	transition: all .2s;
	margin-top: 30px;
	display: inline-block;

}

.menu-icon-mob {
	font-family: icon-self;
	position: relative;
	color: #959595;
	font-size: 3em;
	width: auto;
	margin: 0px 30px 0px 0px;
	transition: all 0.3s;
}


.menu-icon:hover {
	color: #3A6073;
}

.menu-icon-mob:hover {
	color: #3A6073;
}

.icon-active {
	color: #3A6073;
}

.icon-active:hover {
	color: #3A6073;

}

.icon-cup:before {
	content: "\e900";
}

.icon-info:before {
	content: "\e901";
}

.icon-logout:before {
	content: "\e904";
}

.icon-friendly:before {
	content: "\e902";
}

.icon-result:before {
	content: "\e903";

}

.icon-competition:before {
	content: "\e90e";
}


a {
	display: block;
}

.inline {
	display: inline;
}

.side {
	border-radius: 0px 4px 4px 0px;
	background-color: rgb(214, 209, 219);


	height: 95%;
	top: 5%;
	box-shadow: -3px 0px 17px rgba(0, 0, 0, 0.2);
	z-index: 1;
}


.info {
	background-color: rgb(184, 184, 208);
	height: 95%;
	top: 5%;
}

.content {
	position: relative;
	border-radius: 4px 0px 0px 4px;
	background-color: rgb(214, 209, 219);
	overflow-y: auto;
	height: 95%;
	top: 5%;
	box-shadow: 3px 0px 17px rgba(0, 0, 0, 0.2);

}

.team-avatar {
	position: absolute;
	width: 70%;
	left: 15%;
	top: 5%;
}

.team-quote {
	position: absolute;
	top: 70%;
	width: 50%;
	right: 50%;
	text-align: center;
	transform: translate(50%, -50%);
	font-size: 1em;
}

.team-info {
	position: absolute;
	top: 50%;
	text-align: center;
	transform: translate(0, -50%);
	font-size: 2em;
	width: 100%;
}

.nav-menu {
	position: absolute;
	top: 15px;
	left: 20px;
	direction: ltr;
}

.icon-logout {
	color: #959595;
	font-size: 1.6em;
	font-family: icon-self;
	transition: all .3s;
}

.logout {
	display: inline-block;
	cursor: pointer;
	transition: all .3s;

}

.logout label {
	font-size: 1em;
	position: relative;
	top: -8px;
	left: 6px;
	cursor: pointer;
	transition: all .3s;

}

.edit-info {
	display: inline-block;
	cursor: pointer;
}

.edit-info label {
	font-size: 1em;
	position: relative;
	top: -8px;
	left: 24px;
	cursor: pointer;
	transition: all .3s;

}

.logout:hover .icon-logout {
	color: #3A6073;
}

.logout:hover label {
	color: #3A6073;
}

.edit-info:hover label {
	color: #3a6073;
}

.team-summary {
	min-height: 300px;
	background-color: #fffcfb;
}

.member {
	top: 34px;
	min-height: 200px;
	background-color: #fffcfb;
}

.carousele {
	height: 300px !important;
	width: 100% !important;
}

.carousele .indicators {
	margin: 0px !important;
	margin-right: 0px !important;
	width: 100% !important;

}

.team-summary h1 {
	text-align: center;
	position: relative;
	top: 30px;
	color: #3a6073;
	font-size: 6em;
}

.puan label:first-child {
	font-size: 1.3em;
}

.puan label:nth-child(2) {
	font-family: monospace;
	font-size: 1.5em;
	margin: 0px 50px 0px 0px;
}

.puan {
	text-align: center;
	color: #4D5675;

}

.progress-bar {
	position: absolute;
	width: 90%;
	height: 13px;
	margin: 20px 5%;
	border-radius: 10px;
	background: #F2EAED;
	border: 2px solid #3a6073;
	direction: ltr;

}

.progressed {
	position: absolute;
	border-radius: 10px 0px 0px 10px;
	width: 0%;
	height: 10px;
	background-color: #3a6073;
	animation: fillup 1s;
}

@keyframes fillup {
	from {
		width: 0;
	}

	to {
		width: currentWidth;
	}
}

.new-code {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);

	color: #fffcfb;
	margin: 60px 0px;

}

.card-image {
	height: 24%;
}

.pattern-back {
	position: absolute;
	width: 100% !important;
	height: 100% !important;
	box-sizing: border-box !important;
	background-image: url(../img/bright-squares.png);
	background-repeat: repeat;

}

.admin .pattern-back {
	background-color: #ffe57f !important;
}
.tip-title{
	position: absolute;
	top: 10%;
	right: 35%;
	color: #fffcfb !important;
	font-size: 20px;
}
.text-article {
	text-align: center;
	left: 0;
	position: absolute;
	font-size: 20px;
	color: #fffcfb;
	width: 100%;
	height: 40px;
}
.download-btn{
	position: absolute;
	top: 210px; 
	left: 50%;
	transform: translate(-50%,0);
	color: #3a6073;
	font-weight: bolder;
}
.text-sub {
	text-align: center;
	left: 0;
	position: absolute;
	font-size: 15px;
	color: #fffcfb;
	width: 100%;
	height: 40px;
}
.center{
	text-align: center;
}
/*carousel*/
.carousele {
	height: 100%;
	width: 100%;
	overflow: hidden;
	text-align: center;
	position: relative;
	left: -30px;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	/**
  * Where the magic happens
  */
	/**
    * Control element - right/left arrows
  */
	/**
    * Element for holding slide indicators
  */
	/**
    * Indicator for indicating active slide
  */
	/**
    * Create rules for when slides are contained within a track
  */
}
.carousele img{
	position: absolute;
	top: 10%;
	right: 20%;
}
.tip-title{
	position: absolute;
	top: 10%;
	right: 35%;
	color: #374172;
	font-size: 20px;
}
.carousel__controls,
.carousel__activator {
	display: none;
}

.carousel__activator:nth-of-type(1):checked ~ .carousel__track {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}

.carousel__activator:nth-of-type(1):checked ~ .carousel__slide:nth-of-type(1) {
	transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
	transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
	top: 0;
	left: 0;
	right: 0;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.carousel__activator:nth-of-type(1):checked ~ .carousel__controls:nth-of-type(1) {
	display: block;
	opacity: 1;
}

.carousel__activator:nth-of-type(1):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(1) {
	opacity: 1;
}

.carousel__activator:nth-of-type(2):checked ~ .carousel__track {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.carousel__activator:nth-of-type(2):checked ~ .carousel__slide:nth-of-type(2) {
	transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
	transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
	top: 0;
	left: 0;
	right: 0;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.carousel__activator:nth-of-type(2):checked ~ .carousel__controls:nth-of-type(2) {
	display: block;
	opacity: 1;
}

.carousel__activator:nth-of-type(2):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(2) {
	opacity: 1;
}

.carousel__activator:nth-of-type(3):checked ~ .carousel__track {
	-webkit-transform: translateX(-200%);
	transform: translateX(-200%);
}

.carousel__activator:nth-of-type(3):checked ~ .carousel__slide:nth-of-type(3) {
	transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
	transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
	top: 0;
	left: 0;
	right: 0;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.carousel__activator:nth-of-type(3):checked ~ .carousel__controls:nth-of-type(3) {
	display: block;
	opacity: 1;
}

.carousel__activator:nth-of-type(3):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(3) {
	opacity: 1;
}

.carousel__activator:nth-of-type(4):checked ~ .carousel__track {
	-webkit-transform: translateX(-300%);
	transform: translateX(-300%);
}

.carousel__activator:nth-of-type(4):checked ~ .carousel__slide:nth-of-type(4) {
	transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
	transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
	top: 0;
	left: 0;
	right: 0;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.carousel__activator:nth-of-type(4):checked ~ .carousel__controls:nth-of-type(4) {
	display: block;
	opacity: 1;
}

.carousel__activator:nth-of-type(4):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(4) {
	opacity: 1;
}

.carousel__activator:nth-of-type(5):checked ~ .carousel__track {
	-webkit-transform: translateX(-400%);
	transform: translateX(-400%);
}

.carousel__activator:nth-of-type(5):checked ~ .carousel__slide:nth-of-type(5) {
	transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
	transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
	top: 0;
	left: 0;
	right: 0;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.carousel__activator:nth-of-type(5):checked ~ .carousel__controls:nth-of-type(5) {
	display: block;
	opacity: 1;
}

.carousel__activator:nth-of-type(5):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(5) {
	opacity: 1;
}

.carousel__control {
	height: 20px;
	width: 20px;
	top: 41%;
	transform: translate(0, -50%);
	position: absolute;
	display: block;
	cursor: pointer;
	border-width: 5px 5px 0 0;
	border-style: solid;
	border-color: #fafafa;
	opacity: 0.35;
	outline: 0;
	z-index: 3;
}

.carousel__control:hover {
	opacity: 1;
}

.carousel__control--backward {
	left: 10px;
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

.carousel__control--forward {
	right: 10px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.carousel__indicators {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
}

.carousel__indicator {
	height: 15px;
	width: 15px;
	border-radius: 100%;
	display: inline-block;
	z-index: 2;
	cursor: pointer;
	opacity: 0.35;
	margin: 0 2.5px 0 2.5px;
}

.carousel__indicator:hover {
	opacity: 0.75;
}

.carousel__track {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0;
	margin: 0;
	transition: -webkit-transform 0.5s ease 0s;
	transition: transform 0.5s ease 0s;
	transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.carousel__track .carousel__slide {
	display: block;
	top: 0;
	left: 0;
	right: 0;
	opacity: 1;
}

.carousel__track .carousel__slide:nth-of-type(1) {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}

.carousel__track .carousel__slide:nth-of-type(2) {
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.carousel__track .carousel__slide:nth-of-type(3) {
	-webkit-transform: translateX(200%);
	transform: translateX(200%);
}

.carousel__track .carousel__slide:nth-of-type(4) {
	-webkit-transform: translateX(300%);
	transform: translateX(300%);
}

.carousel__track .carousel__slide:nth-of-type(5) {
	-webkit-transform: translateX(400%);
	transform: translateX(400%);
}

.carousel--scale .carousel__slide {
	-webkit-transform: scale(0);
	transform: scale(0);
}

.carousel__slide {
	height: 100%;
	position: absolute;
	overflow-y: auto;
	opacity: 0;
}

/**
  * Theming
*/

.carousel-container {
	display: inline-block;
	box-sizing: border-box;
}

.my-carousel {
	border-radius: 5px;
	margin: 30px;
}

.carousel__slide {
	overflow: hidden;
}

.carousel--thumb .carousel__indicator {
	height: 30px;
	width: 30px;
}

.carousel__indicator {
	background-color: #fafafa;
}


/*end carousel*/

/*Queries*/

@media only screen and (max-width: 992px) {
	.side {
		margin-top: 40px;
		top: 1%;
		height: 10%;
		border-radius: 4px 4px 0px 0px;

	}

	.info {
		top: 1%;
		height: 25%;

	}

	.content {
		position: relative;
		top: 1%;
		min-height: 50%;
		border-radius: 0px 0px 4px 4px;
		margin-bottom: 50px;
		min-height: 90%;

	}

	.team-avatar {
		width: auto;
		left: 20%;
		top: 0;
		transform: translate(-40%, 5%);
		max-height: 90%;

	}

	.team-info {
		top: 40%;
		width: 50%;
	}

	.team-quote {
		right: 0;
		transform: translate(0, -50%);
		text-align: center;
	}

}


@media only screen and (max-width:499px) {
	.menu-icon-mob {
		right: 5%;
		font-size: 2em;
		top: 15%;
		margin: 0px 20px 0px 0px;
	}

	.card-image {
		height: 40%;
	}
}

@media only screen and (max-width:367px) {
	.menu-icon-mob {
		right: 10%;
		margin: 0px 10px 0px 0px;
	}

	.team-quote {
		display: none;
	}
}
