<!DOCTYPE html>
{% extends 'base_2_1/base.html' %}
{% block title %}
    {{ user.username }}|مسابقه آنلاین
{% endblock %}
{% block content %}
    <div class="col content s12 m12 l8 xl8 pull-l4 pull-xl4 full-height ">
        <div class="row" style="margin-top: 10vh">
            <div class="col m1 l1 xl1 hide-on-small-and-down"></div>
            <div class="col s12 m5 l5 xl5">
                <div class="card white small">
                    <div class="card-content blue-grey-text text-darken-1">
                            <span class="card-title" style="font-size: 160%">
                                <i class="material-icons">av_timer</i>
                                زمان باقی مانده تا شروع مسابقه
                            </span>
                        <p class="help-card-footer">«استفاده از یک کانت داون زیبا :) » </p>
                    </div>
                    <div class="card-action center">
                        <a class="btn waves-effect" href="#" >دانلود</a>
                    </div>

                </div>
            </div>
            <div class="col s12 m5 l5 xl5">
                <div class="card white small">
                    <div class="card-content blue-grey-text text-darken-1">
                            <span class="card-title" style="font-size: 160%">
                                <i class="material-icons">vpn_key</i>
                                کلید اتصال
                            </span>
                        <p class="help-card-footer">برای شرکت در مسابقه آنلاین کلید تیم خود را دریافت کنید </p>
                    </div>
                    <div class="card-action center">
                        <a class="btn waves-effect" href="#" id="send-key">دانلود</a>
                    </div>

                </div>
            </div>
            <div class="col m1 l1 xl1 hide-on-small-and-down"></div>
        </div>
    </div>
    <!-- Modal -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>توجه</h4>

            <p id="modal-text-msg"></p>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close waves-effect waves-green btn-flat left ">متوجه شدم</a>
        </div>
    </div>
    <!-- -->
{% endblock %}
{% block script %}
    {% load static %}
    <script src="{% static 'js/jaam/iac_cup.js' %}"></script>
    <script>
        let elem = document.getElementById("modal1");
        let options = {dismissible: true, inDuration: 600};
        let instance = M.Modal.init(elem, options);
    </script>
{% endblock %}