{% extends 'base2_0/base.html' %}
{% load static from staticfiles %}
{% block title %}
    {{ user.username }} | میدیریت تیم
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/style-index.css' %}">
{% endblock %}
{% block content %}
    <div class="row" style="padding: 15px;">
        <div class="col s12 m12 l4 xl4" style="position: relative;">
            <div class="card team-summary">
                <h1>A</h1>
                <div class="puan">
                    <label>امتیاز تیم</label>
                    <label>1400</label>
                </div>
                <div class="progress-bar">
                    <span class="progressed" id="filledProgress">70</span>
                </div>
                <div class="btn waves-effect new-code" id="selectFileButton">
                    بارگذاری کد جدید
                    <input type="file"
                           style="opacity: 0;position: absolute; left: 0; height: 50px; top: 0px; width: 220px; cursor: pointer"
                           id="selectFile">
                </div>
            </div>
            <div class="card member" style="background-color: #3a6073; top: -13px; direction: ltr">


                <!--						carousel-->


                <div class="carousele my-carousel carousel--translate">
                    <input class="carousel__activator" type="radio" name="carousel" id="F" checked="checked"/>
                    <input class="carousel__activator" type="radio" name="carousel" id="G"/>
                    <input class="carousel__activator" type="radio" name="carousel" id="H"/>
                    <input class="carousel__activator" type="radio" name="carousel" id="I"/>
                    <input class="carousel__activator" type="radio" name="carousel" id="J"/>
                    <div class="carousel__controls">
                        <label class="carousel__control carousel__control--backward" for="J"></label>
                        <label class="carousel__control carousel__control--forward" for="G"></label>
                    </div>
                    <div class="carousel__controls">
                        <label class="carousel__control carousel__control--backward" for="F"></label>
                        <label class="carousel__control carousel__control--forward" for="H"></label>
                    </div>
                    <div class="carousel__controls">
                        <label class="carousel__control carousel__control--backward" for="G"></label>
                        <label class="carousel__control carousel__control--forward" for="I"></label>
                    </div>
                    <div class="carousel__controls">
                        <label class="carousel__control carousel__control--backward" for="H"></label>
                        <label class="carousel__control carousel__control--forward" for="J"></label>
                    </div>
                    <div class="carousel__controls">
                        <label class="carousel__control carousel__control--backward" for="I"></label>
                        <label class="carousel__control carousel__control--forward" for="F"></label>
                    </div>
                    <div class="carousel__track">
                        <li class="carousel__slide">
                            <img src="../assets/img/help-web-button.svg" style="width: 30px;">
                            <label class="tip-title">راهنما و توضیحات</label>
                            <span class="text-article" style="top: 40%;">اشاره گر های مقدماتی</span>
                            <span class="text-sub center"
                                  style="top: 55%;">توضیحات لازم را از فایل زیر دانلود نمایید</span>
                            <div class="btn waves-effect yellow lighten-5 download-btn">
                                دانلود فایل
                            </div>
                        </li>
                        <li class="carousel__slide">
                            <img src="../assets/img/help-web-button.svg" style="width: 30px;">
                            <label class="tip-title">راهنما و توضیحات</label>
                            <span class="text-article center" style="top: 40%;">اشاره گر های پیشرفته</span>
                            <span class="text-sub center"
                                  style="top: 55%;">توضیحات لازم را از فایل زیر دانلود نمایید</span>
                            <div class="btn waves-effect yellow lighten-5 download-btn">
                                دانلود فایل
                            </div>
                        </li>
                        <li class="carousel__slide">
                            <img src="../assets/img/help-web-button.svg" style="width: 30px;">
                            <label class="tip-title">راهنما و توضیحات</label>
                            <span class="text-article center" style="top: 40%;">فایل های کلاینت</span>
                            <span class="text-sub center" style="top: 55%;left: 50%">

									</span>
                            <div class="btn waves-effect yellow lighten-5 download-btn">
                                دانلود فایل
                            </div>
                        </li>
                        <li class="carousel__slide">
                            <h1>I</h1>
                        </li>
                        <li class="carousel__slide">
                            <h1>J</h1>
                        </li>
                    </div>
                    <div class="carousel__indicators">
                        <label class="carousel__indicator" for="F"></label>
                        <label class="carousel__indicator" for="G"></label>
                        <label class="carousel__indicator" for="H"></label>
                        <label class="carousel__indicator" for="I"></label>
                        <label class="carousel__indicator" for="J"></label>
                    </div>
                </div>


                <!--						end carousel-->


            </div>

        </div>
        <div class="col s12 m12 l4 xl4" style="position: relative;">
            <div class="card member yellow lighten-4">
                <div class="card-image waves-effect waves-block waves-light">
                    <div class="pattern-back teal darken-2 waves-effect activator"></div>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><i
                            class="material-icons right">more_vert</i>نام عضو</span>
                    <p><a href="#"></a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">نام عضو<i
                            class="material-icons right">close</i></span>
                    <p>توضیحات کوتاه در مورد عضو</p>
                </div>
            </div>
            <div class="card member">
                <div class="card-image waves-effect waves-block waves-light">
                    <div class="pattern-back teal darken-2 waves-effect activator"></div>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><i
                            class="material-icons right">more_vert</i>نام عضو</span>
                    <p><a href="#"></a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">نام عضو<i
                            class="material-icons right">close</i></span>
                    <p>توضیحات کوتاه در مورد عضو</p>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l4 xl4" style="position: relative;">
            <div class="card member">
                <div class="card-image waves-effect waves-block waves-light">
                    <div class="pattern-back teal darken-2 waves-effect activator">
                        <img src="../assets/img/pp.jpg" class="activator">
                    </div>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><i
                            class="material-icons right">more_vert</i>نام عضو</span>
                    <p><a href="#"></a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">نام عضو<i
                            class="material-icons right">close</i></span>
                    <p>توضیحات کوتاه در مورد عضو</p>
                </div>
            </div>
            <div class="card member">
                <div class="card-image waves-effect waves-block waves-light">
                    <div class="pattern-back teal darken-2 waves-effect activator"></div>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><i
                            class="material-icons right">more_vert</i>نام عضو</span>
                    <p><a href="#"></a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">نام عضو<i
                            class="material-icons right">close</i></span>
                    <p>توضیحات کوتاه در مورد عضو</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        window.onload = function () {
            var x = document.getElementById("filledProgress").innerHTML;
            document.getElementById("filledProgress").innerHTML = "";
            document.getElementById("filledProgress").style.width = x + "%";
        }
    </script>
{% endblock %}
