<html>

<head>
    <title>
        {{ user.username }} | بازی دوستانه

    </title>
    {% load static from staticfiles %}
    <link rel="stylesheet" href='{% static "css/materialize.css" %}'>
    <link rel="stylesheet" href='{% static "css/style-global.css" %}'>
    <link rel="stylesheet" href='{% static "css/style-index.css" %}'>

    <meta name="viewport"
          content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,target-densitydpi=device-dpi, user-scalable=no"/>
    <meta charset="utf-8">
    <link type="image/png" rel="icon" href="{% static 'img/jaam.png' %}">
</head>

<body>


<div class="row cnt" style="direction: rtl">
    {% include 'base2_0/menu_item_IAC.html' %}
    {% include 'base2_0/menu_team_discription.html' %}

    <div class="col s12 m12 l8 xl8  pull-l4 pull-xl4 content" id="container">
        {% include 'base2_0/navbar.html' %}

        <div class="row" style="padding: 15px;">
            <div class="col s12 m12 l4 xl4" style="position: relative;">
                <div class="card team-summary">
                    <h1 style="font-size: 30px">دادگان مسابقه</h1>
                    <h1 style="font-size: 20px;color: black">سری سوم دادگان</h1>
                    <button type="button" class="btn waves-effect new-code js-upload-photos">
                        به زودی ...
                    </button>

                </div>
            </div>
            <div class="col s12 m12 l4 xl4" style="position: relative;">
                <div class="card team-summary">
                    <h1 style="font-size: 30px">دادگان مسابقه</h1>
                    <h1 style="font-size: 20px; color:black;">سری دوم دادگان</h1>
                    <button type="button" class="btn waves-effect new-code js-upload-photos">
                        به زودی ...
                    </button>
                </div>
            </div>
            <div class="col s12 m12 l4 xl4" style="position: relative;">
                <div class="card team-summary">
                    <h1 style="font-size: 30px">دادگان مسابقه</h1>
                    <h1 style="font-size: 20px;color: black">سری اول دادگان</h1>
                    <a class="btn waves-effect new-code js-upload-photos" href="{{ data_set1 }}" download>
                        دانلود دادگان
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload = function () {
        var x = document.getElementById("filledProgress").innerHTML;
        document.getElementById("filledProgress").innerHTML = "";
        document.getElementById("filledProgress").style.width = x + "%";
    }

</script>
<script src='{% static "js/jquery-3.1.1.min.js" %}'></script>
<script src="{% static 'js/jaam/item_active.js' %}"></script>
<script src='{% static "js/bin/materialize.js" %}'></script>
<!-- upload -->
<script src="{% static 'js/jQuery-File-Upload-9.14.1/js/vendor/jquery.ui.widget.js' %}"></script>
<script src="{% static 'js/jQuery-File-Upload-9.14.1/js/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'js/jQuery-File-Upload-9.14.1/js/jquery.fileupload.js' %}"></script>
<script src="{% static 'js/photo_upload.js' %}"></script>
<script>
    M.AutoInit();

</script>
</body>

</html>
