<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <title>test_upload_ajax</title>
</head>
<body>
<button type="button" class="btn btn-primary js-upload-photos">
    <span class="glyphicon glyphicon-cloud-upload"></span> Upload photos
</button>
<input id="fileupload" type="file" name="code" multiple
       style="display: none;"
       data-url="{% url 'online_match:file_upload_ajax' %}"
       data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
<div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Uploading...</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar" id="upload_progress_bar" role="progressbar" style="width: 0%;">0%</div>
                </div>
            </div>
        </div>
    </div>
</div>
{# 3. TABLE TO DISPLAY THE UPLOADED PHOTOS #}
<table id="gallery" class="table table-bordered">
    <thead>
    <tr>
        <th>Photo</th>
    </tr>
    </thead>
    <tbody>
    {% for photo in photos %}
        <tr>
            <td><a href="{{ photo.file.url }}">{{ photo.file.name }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{#<form action="form_upload" method="post" id="file-upload-form" enctype="multipart/form-data" onsubmit="uploaded()">#}
{#    {% csrf_token %}#}
{#    {{ form }}#}
{#    <button type="button" class="btn btn-primary" id='upload-btn' onclick="uploaded()">Upload</button>#}
{#</form>#}
</body>
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jQuery-File-Upload-9.14.1/js/vendor/jquery.ui.widget.js' %}"></script>
<script src="{% static 'js/jQuery-File-Upload-9.14.1/js/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'js/jQuery-File-Upload-9.14.1/js/jquery.fileupload.js' %}"></script>
<script src="{% static 'js/photo_upload.js' %}"></script>
</html>